# SPDX-FileCopyrightText: 2019 CERN.
# SPDX-FileCopyrightText: 2019 Northwestern University.
# SPDX-FileCopyrightText: 2025 KTH Royal Institute of Technology.
# SPDX-License-Identifier: MIT

# Update this manifest file by running the following command:
# (please sort the lines in this file after running below commands)
#
#  check-manifest -u

include .dockerignore
include .editorconfig
prune docs/_build
include *.rst
include *.sh
include *.txt
include LICENSE
include pytest.ini
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.py
recursive-include examples *.sh
recursive-include invenio_records_permissions *.html
recursive-include tests *.py
recursive-include .github/workflows *.yml
include .git-blame-ignore-revs
